/Testes-de-Hipotese.aux
/Testes-de-Hipotese.fdb_latexmk
/Testes-de-Hipotese.fls
/Testes-de-Hipotese.log
/Testes-de-Hipotese.out
/Testes-de-Hipotese.pdf
/Testes-de-Hipotese.synctex.gz
/figures/poder1.pdf
/figures/poder2.pdf
